.container {
    padding: 20px;
    text-align: center;
}

.header_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

}

.section {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: right;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    margin-bottom: 15px;
}

.details p {
    font-size: 20px;
    margin: 5px 0;
}

.header_cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 15px;
    font-weight: 700;
    background-color: rgba(207, 203, 203, 0.493);
    border-radius: 8px;
}


h1 {
    font-size: large;
}

.responsive_table {
    width: 100%;

    li {
        border-radius: 3px;
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .table_header {
        background-color: #95A5A6;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }

    .table_row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }

    .col_1 {
        flex-basis: 10%;
    }

    .col_2 {
        flex-basis: 40%;
    }

    .col_3 {
        flex-basis: 25%;
    }

    .col_4 {
        flex-basis: 25%;
    }

    @media all and (max-width: 767px) {
        .table_header {
            display: none;
        }

        li {
            display: block;
        }

        .col {

            flex-basis: 100%;

        }

        .col {
            display: flex;
            padding: 10px 0;

            &:before {
                color: #6C7A89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
            }
        }
    }
}