@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

.header_nav{
    display: flex;  
    justify-content: center;
}

.titulo{
    font-family: 'Seymour One', sans-serif;
    font-size: 32px;
}